[Unit]
Description=Manga Rider backend systemd service
DefaultDependencies=no
After=network.target

[Service]
Type=simple
Environment="JAVA_HOME=/lib/jvm/jdk-21-oracle-x64"
EnvironmentFile=/home/jenkins/backend.conf
ExecStart=/lib/jvm/jdk-21-oracle-x64/bin/java -jar /home/jenkins/backend.jar
RemainAfterExit=yes

[Install]
WantedBy=default.target