[Unit]
Description=Manga Rider backend systemd service
DefaultDependencies=no
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/java -jar /home/jenkins/demo.jar
EnvironmentFile=/home/jenkins/backend.conf
RemainAfterExit=yes

[Install]
WantedBy=default.target